<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/master.css}">
    <title>Blog</title>
</head>
<body>
    <nav>
        <ul class="d-flex flex-row">
            <li>
                <a th:href="@{/}" class="btn btn-dark border border-white ps-3 pe-3 p-2">Index</a>
            </li>
        </ul>
        <ul class="d-flex flex-row">
            <li th:style="${session.user == null ? 'display:block' : 'display:none'}">
                <a th:href="@{/register_page}" class="btn btn-dark border border-white ps-3 pe-3 p-2">Register</a>
            </li>
            <li th:style="${session.user == null ? 'display:block' : 'display:none'}">
                <a th:href="@{/login_page}" class="btn btn-dark border border-white ps-3 pe-3 p-2">Log in</a>
            </li>

            <li th:style="${session.user != null ? 'display:block' : 'display:none'}">
                <p th:if="${session.user != null }"><a th:href="@{/blog}" class="btn btn-dark border border-white ps-3 pe-3 p-2">Blog</a></p>
            </li>
            <li th:style="${session.user != null ? 'display:block' : 'display:none'}">
                <p th:if="${session.user != null }"><a th:href="@{/profile}" class="btn btn-dark border border-white ps-3 pe-3 p-2">Profile</a></p>
            </li>
        </ul>
    </nav>