<div th:insert="~{requires/header}"></div>
    <main data-aos="zoom-in" data-aos-duration="1000">
        <a th:href="@{/blog}" class="btn btn-primary border border-white ms-3 mt-3 ps-5 pe-5">Back</a>
        <div class="d-flex justify-content-center pt-3">
            <h1 class="display-5">Posts that you created</h1>
        </div>
        <section>
            <div class="d-flex flex-wrap flex-row justify-content-center">
                <div th:each="post: ${posts}" class="card me-3 text-white border border-white bg-dark mt-2 overflow-auto" style="width: 25rem">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post?.header}"></h5>
                        <hr>
                        <p class="card-text overflow-auto pe-2" style="max-height: 20vh; text-align: justify;" th:text="${post?.text}"></p>
                        <a th:href="@{/blog/my_posts/{id}(id=${post?.id})}" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<div th:insert="~{requires/footer}"></div>