<div th:insert="~{requires/header}"></div>
<main data-aos="zoom-in" data-aos-duration="1000">
    <section>
        <div>
            <div>
                <h1 class="display-2">Welcome to our Blog!</h1>
                <h3 class="display-3">We're thrilled to have you here. Our mission is to provide you a simple application where you can share your posts with others!</h3>
                <h3 class="display-3">Thanks for choosing us, and we can't wait to see what you accomplish!</h3>
            </div>
        </div>
    </section>
</main>    
<div th:insert="~{requires/footer}"></div>